<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/icon.ico">
    <title>
        {% block title %}
            阿尔法量化
        {% endblock %}
    </title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
    {% block cssfile %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url '/' %}">AlphaQuant</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url '/' %}">主页</a></li>
{#                <li><a href="#">我的研究</a></li>#}
{#                <li><a href="#">我的交易</a></li>#}
                <li><a href="{% url 'policy_list' %}">我的策略</a></li>
                <li><a href="{% url 'community' 1 %}">社区</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">帮助 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">API文档</a></li>
                        <li><a href="#">财务数据</a></li>
                        <li><a href="#">指数数据</a></li>
                        <li><a href="#">基金数据</a></li>
                        <li><a href="#">股指数据</a></li>
                        <li><a href="#">更新日志</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">个人账号 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account' %}">{{ request.user.userprofile.name }}</a></li>
                            <li><a href="#">消息</a></li>
                            <li><a href="#">账号设置</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">登陆</a></li>
                    <li><a href="{% url 'regist' %}">注册</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% block content %}

{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
 <script type="text/javascript" src="/static/js/csrf.js"></script>
{% block jsfile %}
{% endblock %}
</body>
</html>