{% extends 'base.html' %}

{% block title %}
    {% if article  %}
        编辑"{{ article.title }}"
    {% else %}
        创建主题
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container">
    {% if newArticle%}
        <h4>帖子已发布成功,<a href="{%  url 'article' newArticle.id  %}">点击查看</a></h4>
    {% elif update_article %}
        <h4>帖子已更新成功,<a href="{%  url 'article' update_article.id  %}">点击查看</a></h4>
    {% else %}
        <h2>编辑主题</h2>
        <br><br>
        <form action="{% url 'new_article' %}" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
        <h4>标题</h4>
            <div class="row">
                <div class="col-md-2">
                <select id="category_id" name="category_id" class="form-control" >
                    {%  for category in category_list %}
                        <option value="{{ category.id }}">{{ category.name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col-md-10">
                    <input type="text" name="new_article_title" class="form-control" placeholder="请输入主题标题" value="{{ article.title }}">
                    <input type="hidden" name="article_id" value="{{ article.id }}">
                </div>
            </div>
            <br>
         <h4>内容</h4>
            <textarea id = 'article_editor' name="article_content" class="form-control" rows="3" >{{ article.content | safe }}</textarea>
        <br><br>
         <h4>回测</h4>
        <input type="text" name="" class="form-control" id="backtestName" value="" placeholder="所选回测的结果会插入到主题中">
        <button id="btn-select-backtest" class="btn btn-default input_addon" type="button">选 择</button>
        <br><br>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
    {% endif %}
    </div>
{% endblock %}

{% block jsfile %}
    <script src="/static/plugin/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('article_editor');
        $(document).ready(function () {
            $("#category_id option[value='{{ article.category_id }}']").attr("selected","True");
           //CKEDITOR.instances.article_editor.setData();
        });
    </script>
{% endblock %}