{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}
{% block cssfile %}
    <style>
        #registform{
            margin:0 auto;
            margin-top: 60px;
            width:40%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="registform">
            <h1 class="text-center form_title">注&nbsp;册</h1>
            <p class='text-center form_subtitle gray'>我们致力于打造最高效、易用的量化交易平台</p>
              <form method = 'post'  action="{% url 'regist' %}">{% csrf_token %}
                <div class="form-group form-group-lg">
                    <br>
                    <input type="text" name="username" class="form-control" placeholder="用户名"  autofocus="autofocus">
                    <br>
                    <input type="password" name="password" class="form-control"  placeholder="密码">
                    <br>
                    <input type="password" name="re_password" class="form-control"  placeholder="再次输入密码">
                    <br>
                    <input type="email" name="email" class="form-control"  placeholder="Email">
                    <br>
                     <input type="text" name="nickname" class="form-control" placeholder="昵称" >
                    <br>
                </div>
                <button class="btn btn-primary btn-block btn-lg" type="submit" >注册</button>
            </form>
            <br>
            <a href="../login/">登录</a>

            {% if err_msg %}
                <p style="color: red">{{ err_msg }}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}