{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}
{% block cssfile %}
    <style>
        #registform{
            margin:0 auto;
            margin-top: 60px;
            width:40%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="registform">
            <h1 class="text-center form_title">注&nbsp;册</h1>
            <p class='text-center form_subtitle gray'>我们致力于打造最高效、易用的量化交易平台</p>
                <div class="form-group form-group-lg">
                    <br>
                    <input type="text" id="username" name="username" class="form-control" placeholder="用户名"  autofocus="autofocus" onblur="isExist()">
                    <div id="user_exist"></div>
                    <br>
                    <input type="password" id="password" name="password" class="form-control"  placeholder="密码">
                    <br>
                    <input type="password" id="re_password" name="re_password" class="form-control"  placeholder="再次输入密码" onblur="confirmpwd()">
                    <div id="confirmpwd"></div>
                    <br>
                    <input type="email" id="email" name="email" class="form-control"  placeholder="Email" onblur="checkemail()">
                    <div id="checkemail"></div>
                    <br>
                     <input type="text" id="nickname" name="nickname" class="form-control" placeholder="昵称" >
                    <br>
                </div>
                <button class="btn btn-primary btn-block btn-lg" type="button" onclick="regist()" >注册</button>
            <br>
            <div id="regist_result"></div>

            {% if err_msg %}
                <p style="color: red">{{ err_msg }}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block jsfile %}
    <script type="text/javascript" src="/static/js/register.js" charset="utf-8"></script>

{% endblock %}