{% extends "base.html" %}
{% load pagination_tags %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block cssfile %}
    <style>
        .right_userinfo {
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>{{ article.title }}</h2>
                <hr class="featurette-divider">
                {{ article.author }} {{ article.publish_date|date:'Y-m-d H:i' }}
                回复{{ article.comment_set.select_related.count }}
                {% ifequal article.author.user request.user %}
                    <a href="{% url 'edit_article' article.id %}">编辑</a>
                {% endifequal %}
                <hr class="featurette-divider">

                {{ article.content | safe }}
                <hr class="featurette-divider">
                <br>
                {% autopaginate comments_list 10 %}
                {% for comment in comments_list %}
                    {{ comment.user }}   {{ comment.date|date:'Y-m-d H:i' }}
                    <br><br>
                    {{ comment.content | safe }}
                    <hr>
                {% endfor %}
                {% paginate %}
                <hr class="featurette-divider">
                <form action="{% url 'new_comment' article.id %}" method="POST" enctype="multipart/form-data">
                                     {% csrf_token %}
                    <textarea id='comment_editor' name="comment_content" class="form-control" rows="3"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">发表评论</button>
                </form>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default right_userinfo">
                    <div class="panel-body">
                        <p class="text-center">
                            {% if userprofile.img_path %}
                                <img src="{{ userprofile.img_path }}"  alt="head-img" width="128px" height="128px"
                                class="img-circle">
                            {% else %}
                                <img src="/static/head-image/default-head.jpg" alt="head-img" width="128px"
                                     height="128px"
                                     class="img-circle">
                            {% endif %}

                        </p>
                        <p class="text-center"><b class="text-warning">{{ article.author }}</b></p>
                        <p class="text-center text-muted">{{ request.user.userprofile.resume }}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsfile %}
    <script src="/static/plugin/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('comment_editor');
    </script>
{% endblock %}