{% extends 'base.html' %}

{% block cssfile %}
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <style>


        .backtest_solid{
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
        }
        #backtest_top {
            height: 45px;
            background-color: #f5f5f5;
        }

        #backtest_info{
             height: 70px;
        }
    
        .backtest_input {
            height: 30px;
            width: 15%;
            margin-top: 3px;
            margin-left: 2px;
        }

        .backtest_input2 {
            height: 27px;
            width: 30%;
            margin-top: 5px;
            margin-left: 2px;
        }

        .backtest_btn {
            height: 30px;
            margin-top: 2px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row backtest_solid" id="backtest_top">
            <div class="col-md-6">
                <span class="glyphicon glyphicon-menu-left " aria-hidden="true" style=" margin-top:2px;"></span>
                <input type="text" id="policyTitle" name="title" class="backtest_input2" />
            </div>
            <div class="col-md-6">
                <button class="btn pull-right backtest_btn" type="button">策略</button>
                <button class="btn pull-right backtest_btn" type="button">回测</button>
            </div>
        </div>

        <div class="row " id="backtest_info">
             &nbsp; &nbsp; &nbsp; &nbsp;设置： &nbsp; &nbsp;<label id="beginTime"></label>到<label id="endTime"></label>,&nbsp;<label id="money"></label>
        &nbsp;<label id="rate"></label>
        <br>
             &nbsp; &nbsp; &nbsp; &nbsp;状态： &nbsp; &nbsp;<label id="status">回测中...</label>
        </div>
        <div class="rowr-fluid backtest_solid">
            <div class="row">
                <div class="col-sm-3 col-md-2 ">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">收益概述 <span
                                class="sr-only">(current)</span></a></li>
                        <li><a href="#">交易详情</a></li>
                        <li><a href="#">每日持仓&amp;收益</a></li>
                        <li><a href="#">日志输出</a></li>
                        <li><a href="">性能分析</a></li>
                        <li><a href="">风险指标</a></li>
                        <li><a href="">策略收益</a></li>
                        <li><a href="">基准收益</a></li>
                        <li><a href="">Alpha</a></li>
                        <li><a href="">Beta</a></li>
                        <li><a href="">Sharpe</a></li>
                        <li><a href="">Sortino</a></li>

                    </ul>
                    <ul class="nav nav-sidebar">

                    </ul>
                    <ul class="nav nav-sidebar">

                    </ul>
                </div>
                 <div class="col-md-10" id = "backtest_chats">
                <input type="hidden" id="back_task_id" value="{{ task_id }}">
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block jsfile %}
    <script type="text/javascript" src="/static/js/highstock.js"></script>
    <script type="text/javascript" src="/static/js/backtest.js"></script>
{% endblock %}