{% extends 'base.html' %}

{% load pagination_tags %}

{% block cssfile %}
    <style>
        body {
            background-color: #f5f5f5;
        }

        .policy_list_info {
            margin: 0 auto;
            margin-top: 20px;
            width: 80%;
            min-height: 400px;
            height: auto;
            background-color: white;
            border: 1px solid #d3d3d3;
        }

        .policy_list_top {
            margin: 0 auto;
            margin-top: 20px;
            width: 95%;
        }

        .policy_list_content {
            margin: 0 auto;
            margin-top: 20px;
            width: 95%;
        }

        .btn {
            margin-left: 10px;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="container ">
        <div class="policy_list_info">
            <div class="policy_list_top ">
                <span style="font-size: 20px;">策略列表</span>
                <a href="{% url 'createPolicy' %}">
                    <button type="button" class="btn btn-primary ">新建策略</button>
                </a>

                <button type="button" class="btn btn-default " id="deletePolicy">删除</button>
                <a href="{% url 'community' 1 %}">
                    <button type="button" class="btn btn-link pull-right">策略库&gt;&gt;</button>
                </a>

            </div>
            <div class="policy_list_content ">
                {% autopaginate polist_list 10 %}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"></th>
                        <th>名称</th>
                        <th>最后修改时间</th>
                        <th>历史回测</th>
                    </tr>
                    </thead>

                    {% if polist_list %}
                        <tbody>
                        {% for policy in polist_list %}

                            <tr id="li{{ policy.id }}">
                                <td>
                                    <input type="checkbox" name="checkbox" value='{{ policy.id }}'>
                                </td>
                                <td><a href="../policy/?id={{ policy.uuid }}">{{ policy.name }}</a></td>
                                <td>{{ policy.update_time |date:'Y-m-d H:i:s' }}</td>
                                <td>0</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>

                {% paginate %}
            </div>


        </div>
    </div>
{% endblock %}

{% block jsfile %}
    <script>
        $("document").ready(function () {
            $("#selectAll").click(function () {
                if (this.checked) {
                    $("input[name='checkbox']").each(function () {
                        this.checked = true;
                    });
                } else {
                    $("input[name='checkbox']").each(function () {
                        this.checked = false;
                    });
                }
            });

            $("#deletePolicy").click(function () {
                var obj = document.getElementsByName('checkbox');  //选择所有name="'test'"的对象，返回数组
                //取到对象数组后，我们来循环检测它是不是被选中
                var s = '';
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].checked) s += obj[i].value + ',';  //如果选中，将value添加到变量s中
                }
                //那么现在来检测s的值就知道选中的复选框的值了
                if (s == '') {
                    alert('你还没有选择任何内容！');
                }
                else {
                    if (window.confirm('你确定要删除选中的策略吗？')) {
                        $.ajax({
                            type: "POST",
                            url: "/deletePolicy/",
                            data: {
                                policy_ids:s,
                            },
                            // dataType: "json",
                            success: function (data) {
                                alert(data);
                                location.reload();
                            },
                            error: function (jqXHR) {
                                alert("发生错误：" + jqXHR.status);
                            },
                        });
                    } else {
                        return false;
                    }
                }
            });


            {#            function jqchk() {  //jquery获取复选框值#}
            {#                var chk_value = [];#}
            {#                $('input[name="checkbox"]:checked').each(function () {#}
            {#                    chk_value.push($(this).val());#}
            {#                });#}
            {#                alert(chk_value.length == 0 ? '你还没有选择任何内容！' : chk_value);#}
            {#            }#}


        });
    </script>
{% endblock %}